*.gdoc
*.pdf
*.log
.vagrant/
/ExitTickets/
.DS_Store
announcements.md
rails_vagrant/
wolfies_list/
wolfie_books/
fall_2015_sample_app/
koans/
RailsSpring2016_Prep.vmwarevm/
application.yml
blog/
home_automator/
mentorlist.md
rails_tutorial/
inclass/
prep/
student_projects/
workspace/
wolfie_eats
